<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Markdown Menu</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="http://localhost:8080/dev-laoz-WaveArtCSS/src/theme.css" />
    <link rel="stylesheet" href="http://localhost:8080/dev-laoz-WaveArtCSS/src/base.css" />
    <link rel="stylesheet" href="http://localhost:8080/dev-laoz-WaveArtCSS/src/components.css" />
    <link rel="icon" href="http://localhost:8080/dev-laoz-WaveArtCSS/assets/favicons/favicon.png" type="image/x-icon" />
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>
</head>

<body>
    <!-- Header -->
    <header>
        <img src="http://localhost:8080/dev-laoz-WaveArtCSS/assets/favicons/favicon.png" alt="Logo de la Compañía"
            style="width: 50px; height: auto;" />
        <h1>My Wiki Viewer</h1>
        <!-- Menu de navegación -->
        <nav aria-label="Main Navigation">
            <ul>
                <li><a href="../">Index</a></li>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <!-- Main Content -->
    <main>
        <div id="menu-container"></div>
        <div id="content-container"></div>
    </main>
    <!-- Footer -->
    <footer>
        <span>© 2024 Mi Negocio. Todos los derechos reservados.</span>
    </footer>
    <script src="main.js"></script>
</body>

</html>